body{
    background-color:#fff;
}
.head{
    font-size: 35px;
    font-weight: bold;
    font-style: oblique;
}
.converter{
    width: 340px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 40px;
}
input{
    margin: 20px;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: solid 2px;
}