*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #393e46;
}
.container{
    background-color: #00adb5;
    padding: 40px;
    margin: 120px 30px;
    max-width: 610px;
    width: 95%;
    position: relative;
    top: 0;bottom: 0;left: 0;right: 0;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.addmenu{
    display: flex;
    height: 40px;
    margin-bottom: 10px;
}
#taskfield{
    flex: 1;
    height: 40px;
    padding-left: 5px;
    margin-right: 5px;
}
#addbtn{
    font-weight: bold;
    height: 45px;
    width: 105px;
    float: right;
    border: none;
    border-radius: 5px;
    background-color: #aad8d3;
    color: white;
}
button:hover{
    cursor: pointer;
}
.todolist{
    margin-top: 20px;
    margin-bottom: 20px;
}
.todo{
    display: flex;
    align-items: center;
    background: #f2f2f2;
    margin-bottom: 10px;
    border-radius: 6px;
}
#icon:hover{
    cursor: pointer;
    color: black;
}
.done{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: cadetblue;
    border-radius: 6px;
}
.done .ele{
    background: cadetblue;
}
#done{
    margin-left: 10px;
    float: left;
}
.ele{
    font-family: nunito;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border: none;
    background: #eeeeee;
    max-width: 470px;
    width: 85%;
}
.time{
    font-size: 10px;
    margin-right: 3px;
}
#icon{
    color: #aad8d3;
    padding: 5px;
    font-size: 30px;
}
.clearbtn{
    font-weight: bold;
    float: right;
    width: 105px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #aad8d3;
    color: white;
}
@media (max-width: 650px){
    .container{
        padding: 20px;
    }
    .ele{
        font-size: 14px;
        padding-top: 5px;
    }
    #addbtn{
        width: 60px;
    }
    #icon{
        font-size: 1em;
    }
}