*{
    margin: 0;
}
.head{
    background-color: blanchedalmond;
    height: 25vh;
    text-align: center;
}
.title{
    font-size: 10vh;
}
input{
    height: 5vh;
    width: 30vh;
}
.addbtn{
    height: 5vh;
    width: 8vh;
}
#list{
    text-align: center;
}
@media (min-width: 900px){
    input{
        width: 45vh;
    }
}
.ele{
    border-color: white;
}