*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.gamearea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid{
    display: inline-block;
}
.buttons{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.start,.pause,.clear{
    flex: 1;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: cadetblue;
    height: 100px;
}