body{
    overflow: hidden;
}
.grid{
    position: relative;
}
.buttons{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.start,.pause,.clear{
    flex: 1;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: cadetblue;
    height: 80px;
}