*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: #867ae9;
}
.container{
    background: #867ae9;
    display: flex;
    flex-direction: column;
}
.box{
    margin: 0px auto 40px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    text-align: center;
    padding: 10px;
  max-width: 500px;
  width: 70%;
}
select{
    border: none;
    background: white;
    margin: 10px;
    height: 40px;
}
.delete{
    float: right;
    height: 30px;
    width: 20px;
}
#add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0 auto;
}
.add{
    height: 60px;
    width: 50px;
}
.changeid{
    height: 10px;
    width: 20px;

}
.lhicon{
    height: 20px;
    width: 30px;
}
#pair{
    font-weight: bold;
    font-size: 35px;
}
#period{
    font-size: 15px;
}
.change{
    margin: 10px 0 20px 0;
    font-size: 25px;
    color: green;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.lh{
    font-weight: 200;
    font-size: 20px;
    margin: 10px;
    display: flex;
}
.low{
    flex:1;
}
.high{
    flex: 1;
    float: right;
}
.dynamicsparkline{
   display: block;
}

.addform{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 20px auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: white;
    padding: 10px;
  max-width: 500px;
  width: 70%;
}
.addbtn{
    color: white;
    background: #867ae9;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    border: none;
}