* {
  margin: 0;
  padding: 0;
}
body {
  background: #393e46;
  display: flex;
  justify-content: center;
}
.container {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #393e46;
  height: 350px;
  max-width: 380px;
  width: 100%;
}
input{
  font-size: 25px;
  height: 50px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background: #00adb5;
}
.cur{
  height: 50px;
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.from,.to{
  background: #aad8d3;
  height: 100%;
  flex: 4;
  border-radius: 5px;
}
.txt{
  color: #00adb5;
  flex: 2;
  text-align: center;
}
#warning{
  color: red;
    margin: 20px;
    text-align: center;
    font-size: 15px;
}
.result{
  color: #00adb5;
  font-style: oblique;
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
}
button{
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #f4eee8;
  margin-top: 40px;
  width: 40%;
  margin-left: 30%;
  height: 40px;
}
a{
  float: right;
}
i{
  color: #eeeeee;
}
ul{
  margin: 20px 0;
}
li{
  list-style: none;
  font-size: 20px;
  margin: 5px 0;
}
@media (min-width: 800px){
  .container{
    max-width: 600px;
  }
  input{
    height: 60px;
  }
  .cur{
    height: 60px;
  }
  button{
    height: 50px;
  }
}