*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: #212121;
}
.container{
    display: flex;
}
.head{
    flex: 1;
    text-align: center;
    padding: 20px 0;
    border: solid 1px;
}
.date,.amount,.result,.from,.to{
    flex: 1;
    text-align: center;
}
ul{
    border: 1px solid;
    background: cadetblue;
    font-size: 20px;
}
li{
    color: burlywood;
    background: #323232;
    height: 40px;
    font-size: 15px;
    list-style: none;
    padding: 15px 0;
}