*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.gamearea{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scorecard{
    display: flex;
}
a{
    position: absolute;
    right: 0;
}
.score{
    font-weight: bold;
    margin-left: 20px;
    height: 20px;
}
.canvas{
    display: inline-block;
}
.controls{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 10px 0 10px;
}
.move{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 60px;
    width: 60px;
}
button{
    border: none;
    border-radius: 10px;
    height: 80px;
    width: 80px;
    margin: auto 0 auto 0;
    font-weight: bold;
}
.play{
    background: #F6C6EA;
}
.stop{
    background: #C490E4;
}
.left{
    margin-right: 20px;
    transform: rotate(270deg); 
}
.right{
    margin-left: 20px;
    transform: rotate(90deg);
}
.down{
    transform: rotate(180deg);
}
@media (min-width: 900px){
    button{
        width: 150px;
    }
    .controls{
        justify-content: space-around;
    }
}